:host {
  display: block;
  width: 100%;
}

.st1188 {
  opacity: 0.5;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #21B249;
}

.st828 {
  fill: none;
  stroke: #21B149;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
